#include "cosmos.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&gpio0 11 GPIO_ACTIVE_HIGH> // Col 6
        , <&gpio1 4  GPIO_ACTIVE_HIGH> // Col 7
        , <&gpio1 6  GPIO_ACTIVE_HIGH> // Col 8
        , <&gpio0 2  GPIO_ACTIVE_HIGH> // Col 9
        , <&gpio0 29 GPIO_ACTIVE_HIGH> // Col 10
        , <&gpio0 31 GPIO_ACTIVE_HIGH> // Col 11
        ;
};
