# Copyright (c) 2025
# SPDX-License-Identifier: MIT

if SHIELD_HOLYKEEBS_TPS43

config ZMK_KEYBOARD_NAME
	default "HOLYKEEBS_TPS43"

# Ensure the pointing subsystem and Zephyr input stack are on for the TPS43.
config ZMK_POINTING
	default y

config INPUT
	default y

config INPUT_AZOTEQ_IQS5XX
	default y

endif
